<div class="block1">
  <%= form_tag do %>
      <%= hidden_field_tag :subject, @subject %>
      <%= hidden_field_tag :satel, @satel %>
      <%= hidden_field_tag :verb, @verb %>
      <% @stat.each do |vsego| %>
          <% @vsego=vsego.vsego.to_i %>
      <% end %>
      <% if @id_verb != 0 %>
          <table>

            <%  @chastota_loc.each do |res| %>
                <tr>
                  <td style="border: 0px">
                    <%= @subject + " "+ @verbsatel  %>
                  </td>
                  <td style="border: 0px"> <%= res.righttext.to_s + "." %> </td>
                  <td style="border: 0px"> <% @kol_vo = res.kol_vo.to_i %>
                    <% @stat=((@kol_vo.to_f / @vsego.to_f)*100)
                       @stat= sprintf("%.2f",@stat).to_f%>
                    -
                    <%=  @stat.to_s + "%" %>
                  </td>
                </tr>
            <% end %>


      <% else %>
          Нет такого сочетания! Попробуйте снова


      <% end %>
      <tr>  <td style="border: 0px; background-color: #DADADA;
              text-align: center;
              background: linear-gradient(to top, #BBBBBB, #F7F7F7);
              border: 1px solid #333;
              width: 300px", colspan="3">

        <%= link_to "Reverse частотности", {:action=>"generate", :verbsatl => @verbsatel, :subject => @subject, :satel => @satel, :verb=> @verb} %>

      </td>
      </tr>

      <tr>
        <td style="border: 0px; background-color: #DADADA;
                text-align: center;
                background: linear-gradient(to top, #BBBBBB, #F7F7F7);
                border: 1px solid #333;
                width: 300px", colspan="3">

          <%= link_to "Сгенерировать возможные предложения по глаголу + сателлит", {:action=>"input"} %>

        </td>
      </tr>
      <tr>
        <td style="border: 0px;background-color: #DADADA;
                text-align: center;
                background: linear-gradient(to top, #BBBBBB, #F7F7F7);
                border: 1px solid #333;
                width: 300px", colspan="3">

          <%= link_to "На главную", {:action=>"index"} %>
        </td>
      </tr>
      </table>


  <% end %>
</div>