<div class="block1">
  <%= form_tag do %>
      <%= hidden_field_tag :subject, @subject %>
      <%= hidden_field_tag :verb, @verb %>
      <% @stat.each do |vsego| %>
          <% @vsego=vsego.vsego.to_i %>
      <% end %>
       <% @id_verb = 0
       @exist=0%>
      <table>
        <tr>
          <td> Предложение</td>
          <td> Частотность гл+сател</td>
        </tr>

      <% @chastverb.each do |verb|

        @verb_only=verb.verb_satel

        @verb_satel= verb.verb_satel.to_s + " " + verb.satel.to_s
        @phrase_verb.each do |phrase|
          if @verb_satel == phrase.present.to_s or @verb_satel == phrase.past_simple.to_s or @verb_satel == phrase.past_partic.to_s or @verb_satel == phrase.third_litco.to_s
            @id_verb = phrase.id.to_i
          else

          end
        end
        @chastota_loc=Chastotnost.find_by_sql ["SELECT chastotnosts.righttext FROM public.chastotnosts
        WHERE  chastotnosts.id_verb = ? ORDER BY chastotnosts.kol_vo DESC;", @id_verb] %>
          <% @chastota_loc.each do |loc| %>

                 <tr>
                   <td> <%= @subject +" " + @verb_satel + " " +  loc.righttext.to_s %> </td>
                   <td> <% @kol_vo=verb.kol_vo
                            @stat=((@kol_vo.to_f / @vsego.to_f)*100)
                           @stat= sprintf("%.2f",@stat).to_f
                   %> <%= @stat.to_s + '%' %> </td>
                 </tr>

          <% end %>

      <% end %>
        <tr>  <td style="border: 0px; background-color: #DADADA;
                text-align: center;
                background: linear-gradient(to top, #BBBBBB, #F7F7F7);
                border: 1px solid #333;
                width: 300px", colspan="3">

          <%= link_to "Reverse частотности", {:action=>"generate_reverse_verb", :verb_hash=> @verb_hash, :subject => @subject, :id_verb => @id_verb} %>

        </td>
        </tr>
        <tr>
          <td style="border: 0px;background-color: #DADADA;
                  text-align: center;
                  background: linear-gradient(to top, #BBBBBB, #F7F7F7);
                  border: 1px solid #333;
                  width: 300px", colspan="2">

            <%= link_to "Сгенерировать возможные предложения по глаголу + сателлит", {:action=>"input"} %>
          </td>
        </tr>
        <tr>
          <td style="border: 0px;background-color: #DADADA;
                  text-align: center;
                  background: linear-gradient(to top, #BBBBBB, #F7F7F7);
                  border: 1px solid #333;
                  width: 300px", colspan="2">

            <%= link_to "На главную", {:action=>"index"} %>
          </td>
        </tr>
      </table>


  <% end %>
</div>